/* Root/Window */
QMainWindow {
    background-color: __THEME_BACKGROUND__;
}

/*Sidebar*/
#Sidebar {
    background-color: __SIDEBAR_BACKGROUND__; 
    min-width: 50px;
    max-width: 50px;
}

#Sidebar QPushButton {
    background-color: transparent;
    border: none;
    color: __TEXT_COLOR__;
    min-width: 30px; 
    min-height: 30px;
    max-width: 150px; 
    padding: 10px 0px; 
    text-align: center;
}

#Sidebar QPushButton:hover {
    background-color: __HIGHLIGHT_COLOR_TRANSPARENT__; 
    border-radius: 10px; 
}

#Sidebar QPushButton:pressed {
    background-color: __HIGHLIGHT_COLOR__;
    color: black;
}








/*Right container*/

#rightWidget {
    background-color: __CONTENT_BACKGROUND__;
    border-top-left-radius: 20px; 
}

#topLabel {
    background-color: __CONTENT_BACKGROUND__;
    border-bottom: none;
    padding: 5px 5px; /* Add some padding around the title/search elements */
    margin-top:5px;
    margin-bottom:0px;
}

#searchInput {
    color: __SEPARATOR_COLOR__; 
    border-radius: 10px;
    border: 2px solid __SEPARATOR_COLOR__;
    max-width:250px;
    padding: 5px 10px;
    background-color: __CONTENT_BACKGROUND__;
}
#centerFrame{
    background-color: transparent; 
    border-radius: 30px; 
    border: 2px solid __SEPARATOR_COLOR__; 
    padding: 10px 10px;
    margin-top:0px;
    margin-left:20px;
    margin-right:20px;
}
#lisObject { 
    background-color: __CONTENT_BACKGROUND__;
    border: none;
    border-radius: 30px; /* The rounded corners for the list */
    color: __TEXT_COLOR__;
    
    
    QListWidget::item {
        padding: 5px 5px;
        color: __TEXT_COLOR__;
    }
    /* Style for the selected item (uses the transparent highlight placeholder) */
    QListWidget::item:selected {
        background-color: __HIGHLIGHT_COLOR_TRANSPARENT__;
        color: white;
        border-left: 3px solid __HIGHLIGHT_COLOR__;
    }
}

#playBackTimerFrame{
    background-color:__CONTENT_BACKGROUND__;

}



#playBackFooterFrame { 
    background-color: __FOOTER_BACKGROUND__;
    border-top: 1px solid __SEPARATOR_COLOR__;
    height:50px;
    padding: 0px 5px;
}


QLabel {
    font-size: 10pt;
    color: __TEXT_COLOR__;
}


QSlider::groove:horizontal {
    height: 4px; 
    background: __SEPARATOR_COLOR__;
    border-radius: 12px;
}
QSlider::sub-page:horizontal {
    background: __HIGHLIGHT_COLOR__; /* Filled part of the slider */
    border-radius: 2px;
    border: none;
    padding: 0;
    margin: 0;
}
QSlider::handle:horizontal {
    background: __HIGHLIGHT_COLOR__;
    border: none;
    width: 12px;
    height: 12px;
    margin: -4px 0; 
    border-radius: 6px; 
}

#playBackFooterFrame{
    max-height:50px;
    margin-top:2px;
    margin-bottom:10ppx;
}



#albumArtView{
    border-radius:10px;
    background-color: __CONTENT_BACKGROUND__;
}

/* Media Playback Control Frame Styling (The Outer Container) */
#playBackControl_outerframe {
    background-color: __CONTENT_BACKGROUND__; 
    border-radius: 20px; 
    /*max-height:50px;*/
    /*max-width:270px;*/
    min-width:270px;
    border: 2px solid __SEPARATOR_COLOR__; 
    
}

#mainPlaybackControlFrame{
   color: __HIGHLIGHT_COLOR__;
   margin:2px;
}

#secondaryPlaybackControlFrame{
    color: __HIGHLIGHT_COLOR__;
    margin-bottom:10px;
}

